form.container {
    position: relative!important; /* vịtrí: tương đối - tuyệtđối:absolute- cố định:fixed*/
    height: 92px!important;
    width: 100%!important;
    background-color:#ede734!important;  
    display: table!important;
    margin: 0!important;
    padding: 0!important;
    clear: both!important;
}

.footer_newletter {
    color: black!important;
    display: table-cell!important;
    font-size: 28px!important;
    font-style: normal!important;
    font-weight: 600!important;
    letter-spacing: 1.5px!important;
    line-height: 24px!important;
    text-align: center!important;
    text-transform: uppercase!important;
    vertical-align: middle!important; 
}
span.footer_discount_color{
    
    color: #0a5!important;
}

