<div class="usp-bar-area">
    <div class="usp-header-placeholder">
        <div class="callout-bars">
            <div class="callout-bar last slot-content-contain clearfix ">
                <img src="/assets/img/adidas_USP_delivery.png" width="88" height="88" class="base lazyload" />
                <div class="callout-bar-copy">
                    <span id="readmore">MIỄN PHÍ VẬN CHUYỂN VÀ MIỄN PHÍ TRẢ LẠI</span>        
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui-dialog ui-widget ui-widget-content ui-corner-all popup-scale-in" style="display: none; z-index: 1003; outline: 0px; height: 516px; width: 450px; font-size: 14px;color: #000;top: 55%;left: 50%; margin-top: -258px;margin-left: -225px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);position: fixed;background: white;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span class="ui-dialog-title" id="ui-dialog-title-dialogcontainer"<span class="ui-dialog-title" id="ui-dialog-title-dialogcontainer" style="border-bottom: 1px solid #c8cbcc;padding: 18px 45px 18px 20px;font: 700 17px/16px ;text-transform: uppercase;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: bold;text-transform: uppercase;">MIỄN PHÍ VẬN CHUYỂN VÀ MIỄN PHÍ TRẢ LẠI</span>
            <a href="#" id="ui-dialog-titlebar-close" class="ui-corner-all" role="button">
                <span class="ui-icon ui-icon-closethick"style="position: absolute;top: 20px;right: 20px;" >X</span></a></div>
                    <div id="dialogcontainer" class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0" style="width: auto; min-height: 53px; height: auto; max-height: 437.4px;padding: 10px 45px 18px 20px;">
                            <span class="callout-bar-body">
                                <p>MIỄN PHÍ VẬN CHUYỂN VÀ MIỄN PHÍ TRẢ LẠI </p>
                                <p>Ưu đãi giao hàng miễn phí có giới hạn thời gian này rất tốt cho giao hàng miễn phí, giảm giá khi thanh toán. Xem phương thức phân phối khi thanh toán cho ngày giao hàng dự kiến. Ưu đãi không áp dụng cho thẻ quà tặng adidas và tùy chỉnh mi adidas. Chỉ có hiệu lực đối với các đơn đặt hàng ở Hoa Kỳ trong nước. Adidas có quyền thay đổi hoặc kết thúc chương trình khuyến mãi bất cứ lúc nào .. </p>
                                <p>Nếu bạn không hoàn toàn hài lòng với việc mua hàng adidas.com của mình, vì bất kỳ lý do gì, chúng tôi sẽ cung cấp cho bạn khoản hoàn trả miễn phí trong vòng 30 ngày kể từ ngày mua. </p>
                                <p>*Vì các sản phẩm mi adidas tùy chỉnh và được cá nhân hóa chỉ dành riêng cho bạn nên chúng không thể trả về được. </p>
                                <p>Xin lưu ý để sử dụng lợi tức miễn phí trên adidas.com, gói phải được gửi từ thực tế tại Hoa Kỳ. Xin lưu ý rằng nhãn trả lại không hợp lệ thông qua USPS cho lợi tức của APO / FPO. Hãy xem <a href="/us/help-topics-returning.html" manual_cm_sp="header-promo-callout-_-USP-header_promo_free_shipping_returns-_-Return Policy"> Chính sách trả lại </a> của chúng tôi để biết thêm chi tiết. </p>
                            </span>

                    </div>
    </div>

</div>





<div class="ui-widget-overlay" style="
    display: none;
    z-index: 1002; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
"></div>